.main-content{
  &.center-doc{
    width: 100%;
    @include flexCenter;
    background: #F1F6FA;
  }
  .maintenance-page{
    color: material(blue_grey, 700);
    padding: 1.25rem 1rem;
    .greetings-section{
      margin-bottom: 4rem;
      .maintenance-image{
        width: 40%;
        >img{
          mix-blend-mode: multiply;
        }
      }
      .label{
        padding: 0;
      }
      .title{
        padding: 1rem 0 1.25rem;
      }
      .caption{
        @include font_size(set(text, lg));
        color: material(blue_grey, 300);
      }
    }
    .contact{
      @include font_size(set(text, md));
      a{
        @include transition(300ms ease);
        display: inline-block;
        padding: 8px;
        color: material(blue_grey, 300);
        &:hover{
          color: material(indigo, 600);
        }
      }
    }
  }
}