// -----------------------------------------------------------------------------
// This file contains base rules for sass
// -----------------------------------------------------------------------------

// Set background,text and selection condition color
html,
body {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 100%;
}