// -----------------------------------------------------------------------------
// This file contains typography rules
// -----------------------------------------------------------------------------


body {
    @include font-type(Regular);
    @include font_size(set(text, sm));
}

a {
    &:hover {
        text-decoration: none;
    }
}

p{
    margin-bottom: 0;
}